.popup__job-input {
  box-sizing: border-box;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  min-width: 358px;
  max-height: 27px;
  border: 0;
  padding: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .20);
  margin-top: 30px;
  margin-bottom:48px;
}

@media (max-width: 510px) {
  .popup__job-input {
    min-width: 238px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 45px;
  }
}

.popup__job-input:focus {
  outline-color: #00f;
}
