.rectangle__button {
  width: 22px;
  height: 19px;
  cursor: pointer;
  padding: 0;
  border: 0;
  margin: 5px 5px 1px;
  background-image: url('../../../../images/disabledLike.png');
  background-color: #FFFFFF;
}

.rectangle__button:hover {
  opacity: .8;
}
