.popup__name-input {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding: 0;
  width: 358px;
  height: 27px;
  border: 0;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, .20);
  background-color: transparent;
  margin: 0 36px;
}

@media  (max-width: 510px) {
  .popup__name-input {
    max-width: 238px;
    max-height: 27px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
}

.popup__job-inputt {
  outline-color: #fff6c5;
}
